head
  meta(charset="utf-8")
  title {{ page_title }}
  meta(http-equiv="X-UA-Compatible",content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="keywords",content="")
  meta(name="description",content="")
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css")
  link(rel="stylesheet",href="/css/style.css")
