doctype html
html(lang="ja")
  include modules/_head
  body#app
    include modules/_navbar
    .container
      .row
        .col-xs-12
          .page-header
            h1.h3 {{ title }}
    .container
      .row
        .col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
          div(role="alert",class="alert alert-{{ alert.status }}",v-for="alert in alerts") {{ alert.message }}
    <router-view></router-view>
    include modules/_foot
